@tailwind utilities;

/* Wallpaper WhatsApp */
.chat-wallpaper {
  background-color: #88a4a1;
}

/* BUBBLE IN (pesan masuk) */
.bubble-in {
  background: white;
  color: #111;
  padding: 10px 14px;
  max-width: 75%;
  border-radius: 18px;
  border-top-left-radius: 4px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Ekor bubble IN */
.bubble-in::after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 0px;
  width: 12px;
  height: 12px;
  background: white;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

/* BUBBLE OUT (pesan keluar) */
.bubble-out {
  background: #dcf8c6; /* warna WA asli */
  color: #111;
  padding: 10px 14px;
  max-width: 75%;
  border-radius: 18px;
  border-top-right-radius: 4px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Ekor bubble OUT */
.bubble-out::after {
  content: "";
  position: absolute;
  right: -8px;
  bottom: 0px;
  width: 12px;
  height: 12px;
  background: #dcf8c6;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.bubble-in,
.bubble-out {
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 80%; /* biar aman */
}

/* Header WhatsApp */
.header-wa {
  background: #128c7e;
  color: white;
  border-color: #0f7a6d;
}
